.menu-toggle {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin-left: auto;
  padding: 0;
  background-color: transparent;
  fill: $title-text-color;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
  &:hover,
  &:focus {
    fill: $accent-color;
  }
}
@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: $bacground-color;
  display: none;
  padding: 48px 40px;
  z-index: 10;
}
.menu-container.is-open {
  display: block;
}
.menu-container .menu-toggle {
  position: absolute;
  right: 15px;
  top: 15px;
  &:hover,
  &:focus {
    fill: $accent-color;
  }
}
/*навігація по сторінці*/
.mobile-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  padding: 0;
  margin: 0;
  list-style: none;
  overflow-y: scroll;
}
.mobile-nav {
  @extend %list;
  //   margin-bottom: ;
}
.mobile-nav__item:not(:last-child) {
  margin-bottom: 32px;
}
.mobile-nav__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
}
.mobile-nav__link--current {
  color: $accent-color;
}
/*почта і телефон*/
.mobile-contacts {
  @extend %list;
  margin-bottom: 64px;
}
.mobile-contacts__item {
}
.mobile-contacts__link {
  text-decoration: none;
  color: #757575;
  @media screen and (min-widht: 480px) and (max-width: 767px) {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.02em;

    color: #757575;
  }
}
.mobile-contacts__link--tel {
  display: inline-block;
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #2196f3;
  @media screen and (min-width: 480px) {
    font-size: 34px;
  }
}
/*social*/
.mobile-social {
  @extend %list;
  display: flex;
  padding: 0;
}
.mobile-social__item:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);

  // margin-right: 20px;
}
.mobile-social__item:not(:first-child) {
  padding-left: 10px;
}
.mobile-social__link {
  font-weight: 500;
  font-size: 13px;
  line-height: 1.22;
  letter-spacing: 0.02em;

  color: #2196f3;
  text-decoration: none;
  @media screen and (min-width: 480px) {
    font-size: 18px;
  }
}
