.site-nav {
  @extend %list;
  display: flex;
  @media screen and (max-width: 767px) {
    display: none;
  }
}
.site-nav__item:not(:first-child) {
  @media screen and (min-width: 768px) {
    margin-left: 50px;
  }
}
.site-nav__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  color: $title-text-color;
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: $accent-color;
  }
}
.site-nav__item {
  position: relative;
}

.site-nav__link--current {
  color: $accent-color;
  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 4px;
    bottom: -31px;
    left: 0;
    background: $accent-color;
    border-radius: 2px;
  }
}
